In [1]:
import pandas as pd
import requests

In [2]:
pd.__version__

'2.3.1'

In [3]:
#colab
#NBA results

download_url = 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/nba-elo/nbaallelo.csv'
target_csv = 'nba_all_elo.csv'

response = requests.get(download_url)
response.raise_for_status()

with open(target_csv , 'wb') as file :
     file.write(response.content)

In [4]:
#jupyter notebook

nba = pd.read_csv(r"E:\Python video\ML WITH REZA\FILES\nbaallelo.csv")
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [5]:
type(nba)

pandas.core.frame.DataFrame

In [6]:
len(nba)

126314

In [7]:
nba.shape

(126314, 23)

In [8]:
nba.head()
nba.sample(10)
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [9]:
pd.set_option('display.max.columns' , None)
pd.set_option('display.precision' , 5)

In [10]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.29483,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.64007,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.70517,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.35993,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.01226,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.63110,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.69278,CHS,Stags,63,1300.0000,1309.6521,A,L,0.36890,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.86405,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.64007,NaN

In [11]:
nba.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [12]:
type(nba.columns) #Index

pandas.core.indexes.base.Index

In [13]:
nba.index

RangeIndex(start=0, stop=126314, step=1)

In [14]:
type(nba.index) #RangeIndex

pandas.core.indexes.range.RangeIndex

In [15]:
nba.iloc[30:51:2]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
30,16,194611090PRO,NBA,0,1947,11/9/1946,3,0,PRO,Steamrollers,76,1311.5032,1317.3143,42.81501,PIT,Ironmen,66,1273.2786,1267.4674,H,W,0.68905,NaN
32,17,194611090STB,NBA,0,1947,11/9/1946,4,0,STB,Bombers,70,1302.5988,1305.7323,41.60125,WSC,Capitols,69,1337.7448,1334.6112,H,W,0.59226,NaN
34,18,194611100CLR,NBA,0,1947,11/10/1946,2,0,CLR,Rebels,92,1307.1233,1321.1034,43.21150,WSC,Capitols,68,1334.6112,1320.6311,H,W,0.60286,NaN
36,19,194611110NYK,NBA,1,1947,11/11/1946,5,0,CHS,Stags,78,1315.2522,1329.3558,44.07352,NYK,Knicks,68,1307.3197,1293.2161,A,W,0.37052,NaN
38,20,194611110PIT,NBA,0,1947,11/11/1946,5,0,PIT,Ironmen,84,1267.4674,1277.5587,38.64859,PRO,Steamrollers,71,1317.3143,1307.2230,H,W,0.57168,NaN
40,21,194611130CHS,NBA,1,1947,11/13/1946,4,0,BOS,Celtics,61,1275.2767,1269.8861,37.84742,CHS,Stags,71,1329.3558,1334.7465,A,L,0.29174,NaN
42,22,194611130DTF,NBA,0,1947,11/13/1946,5,0,DTF,Falcons,68,1281.5840,1275.3634,38.41915,PRO,Steamrollers,70,1307.2230,1313.4436,H,L,0.60541,NaN
44,23,194611140GSW,NBA,0,1947,11/14/1946,2,0,PHW,Warriors,68,1304.6670,1308.6625,41.90850,WSC,Capitols,65,1320.6311,1316.6356,H,W,0.61863,NaN
46,24,194611140STB,NBA,1,1947,11/14/1946,5,0,BOS,Celtics,62,1269.8861,1267.1501,37.56229,STB,Bombers,64,1305.7323,1308.4683,A,L,0.31389,NaN
48,25,194611150TRH,NBA,1,1947,11/15/1946,6,0,PRO,Steamrollers,68,1313.4436,1302.3401,41.24546,TRH,Huskies,85,1283.6519,1294.7554,A,L,0.40032,NaN
50,26,194611160BOS,NBA,1,1947,11/16/1946,6,0,TRH,Huskies,49,1294.7554,1290.0051,39.95181,BOS,Celtics,53,1267.1501,1271.9004,A,L,0.39730,NaN

In [16]:
nba.iloc[0 : 11 : 2, 4 : 8]

    year_id  date_game  seasongame  is_playoffs
0      1947  11/1/1946           1            0
2      1947  11/2/1946           1            0
4      1947  11/2/1946           1            0
6      1947  11/2/1946           1            0
8      1947  11/2/1946           1            0
10     1947  11/3/1946           2            0

In [17]:
my_columns = ['gameorder' ,'date_game' , 'game_result']

In [18]:
nba.loc[0 : 8 : 2  , my_columns]

   gameorder  date_game game_result
0          1  11/1/1946           L
2          2  11/2/1946           W
4          3  11/2/1946           L
6          4  11/2/1946           L
8          5  11/2/1946           L

In [19]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [20]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00000,126314.0,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000,126314.00000
mean,31579.00000,0.5,1988.20037,43.53373,0.06386,102.72998,1495.23606,1495.23606,41.70789,102.72998,1495.23606,1495.23606,0.50000
std,18231.92764,0.5,17.58231,25.37518,0.24450,14.81484,112.13995,112.46169,10.62733,14.81484,112.13995,112.46169,0.21525
min,1.00000,0.0,1947.00000,1.00000,0.00000,0.00000,1091.64450,1085.77440,10.15250,0.00000,1091.64450,1085.77440,0.02045
25%,15790.00000,0.0,1975.00000,22.00000,0.00000,93.00000,1417.23798,1416.99490,34.10303,93.00000,1417.23798,1416.99490,0.32799
50%,31579.00000,0.5,1990.00000,43.00000,0.00000,103.00000,1500.94555,1500.95440,42.11336,103.00000,1500.94555,1500.95440,0.50000
75%,47368.00000,1.0,2003.00000,65.00000,0.00000,112.00000,1576.06000,1576.29163,49.63533,112.00000,1576.06000,1576.29163,0.67201
max,63157.00000,1.0,2015.00000,108.00000,1.00000,186.00000,1853.10450,1853.10450,71.11204,186.00000,1853.10450,1853.10450,0.97955

In [21]:
type(nba.describe())

pandas.core.frame.DataFrame

In [22]:
nba.describe().shape

(8, 13)

In [23]:
nba.describe(include = 'object')

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,194611010TRH,NBA,4/17/2013,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [25]:
nba['lg_id']

0         NBA
1         NBA
2         NBA
3         NBA
4         NBA
         ...
126309    NBA
126310    NBA
126311    NBA
126312    NBA
126313    NBA
Name: lg_id, Length: 126314, dtype: object

In [26]:
nba.lg_id

0         NBA
1         NBA
2         NBA
3         NBA
4         NBA
         ...
126309    NBA
126310    NBA
126311    NBA
126312    NBA
126313    NBA
Name: lg_id, Length: 126314, dtype: object

In [33]:
print(nba.pts.max())
print(nba.pts.mode())
print(nba.pts.mean())
print(nba.pts.std())
print(nba.pts.median())
print(nba.pts.sum()) #...

186
0    102
Name: pts, dtype: int64
102.72998242475101
14.81484465438624
103.0
12976235

In [34]:
nba.team_id.value_counts()

team_id
BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
PIT      60
INJ      60
TRH      60
DTF      60
SDS      11
Name: count, Length: 104, dtype: int64

In [35]:
nba.fran_id.value_counts()

fran_id
Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Ironmen           60
Jets              60
Huskies           60
Falcons           60
Name: count, dtype: int64

In [ ]:
#Querying :

In [38]:
nba['fran_id'] == 'Lakers'

0         False
1         False
2         False
3         False
4         False
          ...
126309    False
126310    False
126311    False
126312    False
126313    False
Name: fran_id, Length: 126314, dtype: bool

In [39]:
nba[nba['fran_id'] == 'Lakers'] #just true

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1136,569,194811040BLB,NBA,1,1949,11/4/1948,1,0,MNL,Lakers,84,1527.0000,1542.2545,51.21875,BLB,Baltimore,72,1507.2052,1491.9507,A,W,0.38658,NaN
1152,577,194811060WSC,NBA,1,1949,11/6/1948,2,0,MNL,Lakers,62,1542.2545,1536.2078,50.62162,WSC,Capitols,67,1481.8721,1487.9188,A,L,0.44323,NaN
1159,580,194811090BOS,NBA,1,1949,11/9/1948,3,0,MNL,Lakers,55,1536.2078,1513.4880,48.34113,BOS,Celtics,77,1359.3345,1382.0542,A,L,0.60886,NaN
1170,586,194811110NYK,NBA,1,1949,11/11/1948,4,0,MNL,Lakers,77,1513.4880,1524.9596,49.49945,NYK,Knicks,68,1460.4232,1448.9517,A,W,0.43286,NaN
1183,592,194811130PRO,NBA,1,1949,11/13/1948,5,0,MNL,Lakers,90,1524.9596,1533.2726,50.33019,PRO,Steamrollers,67,1245.9456,1237.6326,A,W,0.73701,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126016,63009,201504080DEN,NBA,1,2015,4/8/2015,78,0,LAL,Lakers,101,1313.7802,1307.5118,21.92189,DEN,Nuggets,119,1415.0565,1421.3248,A,L,0.23891,NaN
126052,63027,201504100LAL,NBA,0,2015,4/10/2015,79,0,LAL,Lakers,106,1307.5118,1312.9532,22.37197,MIN,Timberwolves,98,1283.9249,1278.4835,H,W,0.67072,NaN
126086,63044,201504120LAL,NBA,0,2015,4/12/2015,80,0,LAL,Lakers,106,1312.9532,1305.9197,21.79129,DAL,Mavericks,120,1556.2162,1563.2498,H,L,0.30477,NaN
126115,63058,201504130SAC,NBA,1,2015,4/13/2015,81,0,LAL,Lakers,92,1305.9197,1301.3918,21.42261,SAC,Kings,102,1395.6000,1400.1278,A,L,0.25126,NaN
126137,63069,201504150LAL,NBA,0,2015,4/15/2015,82,0,LAL,Lakers,99,1301.3918,1283.2395,19.98555,SAC,Kings,122,1400.1278,1418.2802,H,L,0.50182,NaN

In [42]:
nba.loc[nba['fran_id'] == 'Lakers' , 'team_id'].value_counts()

team_id
LAL    5078
MNL     946
Name: count, dtype: int64

In [43]:
nba[nba.pts == 0]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
26684,13343,197210260VIR,ABA,1,1973,10/26/1972,7,0,DNR,Nuggets,0,1460.3387,1457.4464,40.40886,VIR,Squires,2,1484.1907,1487.083,A,L,0.32895,at Richmond VA; forfeit to VIR

In [45]:
nba[nba.gameorder == 13343]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
26684,13343,197210260VIR,ABA,1,1973,10/26/1972,7,0,DNR,Nuggets,0,1460.3387,1457.4464,40.40886,VIR,Squires,2,1484.1907,1487.0830,A,L,0.32895,at Richmond VA; forfeit to VIR
26685,13343,197210260VIR,ABA,0,1973,10/26/1972,8,0,VIR,Squires,2,1484.1907,1487.0830,43.51441,DNR,Nuggets,0,1460.3387,1457.4464,H,W,0.67105,at Richmond VA; forfeit to VIR

In [44]:
nba[nba.pts >= 180]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
50094,25048,198312130DEN,NBA,1,1984,12/13/1983,23,0,DET,Pistons,186,1491.8865,1499.0237,40.80094,DEN,Nuggets,184,1512.6967,1505.5594,A,W,0.33282,NaN
50095,25048,198312130DEN,NBA,0,1984,12/13/1983,23,0,DEN,Nuggets,184,1512.6967,1505.5594,41.48649,DET,Pistons,186,1491.8865,1499.0237,H,L,0.66718,NaN

In [50]:
nba[nba.pts > 120]
print(nba[nba.pts > 120].shape)

(14215, 23)

In [51]:
nba.is_playoffs == 1

0         False
1         False
2         False
3         False
4         False
          ...
126309     True
126310     True
126311     True
126312     True
126313     True
Name: is_playoffs, Length: 126314, dtype: bool

In [53]:
nba[(nba.pts > 120 ) & (nba.is_playoffs == 1)].shape

(712, 23)

In [54]:
nba[(nba.pts < 45 ) | (nba.pts > 180 )].shape

(15, 23)

In [55]:
nba.date_game

0         11/1/1946
1         11/1/1946
2         11/2/1946
3         11/2/1946
4         11/2/1946
            ...
126309    6/11/2015
126310    6/14/2015
126311    6/14/2015
126312    6/16/2015
126313    6/16/2015
Name: date_game, Length: 126314, dtype: object

In [56]:
nba.date_game.min()

'1/1/1947'

In [57]:
nba['date_timestamp'] = pd.to_datetime(nba.date_game)

In [58]:
nba.shape

(126314, 24)

In [60]:
nba.date_timestamp.min()

Timestamp('1946-11-01 00:00:00')